<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - LearningManagementSystem</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="" />
	<script src="~/js/jquery.js"></script>
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/jquery.slim.js"></script>
	<script src="~/js/jquery.slim.min.js"></script>
	<script src="~/js/sweetalert2.all.js"></script>
	<script src="~/js/sweetalert2.all.min.js"></script>
	<script src="~/js/sweetalert2.js"></script>
	<script src="~/js/sweetalert2.min.js"></script>
	<link href="~/css/sweetalert2.css" rel="stylesheet" />
	<link href="~/css/sweetalert2.min.css" rel="stylesheet" />
	<link href="~/fonts/fonts.css" rel="stylesheet" />
	<link href="~/css/jquery.datatables.min.css" rel="stylesheet" />

	<script src="~/js/jquery.datatables.min.js"></script>

	<style>
		input[type=checkbox] {
			-ms-transform: scale(2);
			-moz-transform: scale(2);
			-webkit-transform: scale(2);
			-o-transform: scale(2);
			transform: scale(2);
			padding: 10px;
		}
	</style>
</head>
<body>
	<header>

		
			@await Component.InvokeAsync("NavigationMenu")
	</header>
	<br />
	<br />
	<div style="margin-top: 50px;margin-bottom:150px;margin-right: 250px;" class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer class="border-top footer text-muted">
		<div class="container">
			كافة الحقوق محفوظة @System.DateTime.Today.Year  <a asp-area="" asp-controller="" asp-action=""></a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>