@model IEnumerable<LearningManagementSystem.Data.Rank>

@{
    ViewData["Title"] = "Index";
}

<H3>الرتب</H3>

<p>
    <a asp-action="Create">إنشاء جديد</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                الرتبة
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rankname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idrank">تعديل</a> |
                <a asp-action="Details" asp-route-id="@item.Idrank">تفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.Idrank">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
