@model LearningManagementSystem.Data.ETransfer

@{
    ViewData["Title"] = "Create";
}

<h4>اضافة تنقل لـ @Html.Raw(ViewBag.EmployeeName)</h4>

    <script src="~/js/jquery.slim.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/moment.min.js"></script>

    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="~/js/bootstrap-hijri-datepicker.min.js"></script>
    <script src="~/js/bootstrap-hijri-datepicker.js"></script>
    <script src="~/js/bootstrap-hijri-datetimepicker.min.js"></script>
    <script src="~/js/bootstrap-hijri-datetimepicker.js"></script>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                TempData["idEmp"] = ViewBag.id;
            }
            <div class="form-group">
                <label  class="control-label"> نوع التنقل</label>
                    <select asp-for="TransferId" class="form-control" asp-items="ViewBag.IdTransfer">
                        <option>اختر واحد</option>
                    </select>
            </div>
           
            <div class="form-group">
                <label  class="control-label">تاريخ التنقل</label>
                    <input asp-for="TransferDate" class="form-control hijri-date-input" />
                <span asp-validation-for="TransferDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">الوحده المنقول منها</label>
                <select asp-for="FromUnit" class="form-control" asp-items="ViewBag.UnitsId">
                    <option>اختر واحد</option>
                </select>
            </div>
            <div class="form-group">
                <label  class="control-label">الوحده المنقول إليها</label>
                <select asp-for="ToUnit" class="form-control" asp-items="ViewBag.UnitsId">
                    <option>اختر واحد</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="اضافة" class="btn btn-primary" />
            </div>
         
        </form>
    </div>
</div>

<div>
    <a asp-controller="Employees" asp-action="Index">العودة لقائمة الموظفين</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
    <script type="text/javascript">
        $(".hijri-date-input").hijriDatePicker();
    </script>
