@model LearningManagementSystem.Data.Jop

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف وظيفة</h1>


<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            مسمى الوظيفة
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JopName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idjops" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة لقائمة الوظائف<i class="bx bx-arrow-back"></i></a>
    </form>
</div>
