@model LearningManagementSystem.Data.Jop

@{
    ViewData["Title"] = "Details";
}

<h3>تعديل</h3>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            مسمى الوظيفة
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JopName)
        </dd>
    </dl>
</div>
<div>
    @* <a asp-action="Edit" >تعديل<i class="bx bx-edit"></i></a> | *@
    <a asp-action="Index">العودة لقائمة الوظائف<i class="bx bx-arrow-back"></i></a>
</div>
