@model IEnumerable<LearningManagementSystem.Data.Medel>

@{
    ViewData["Title"] = "Index";
}

<h3>انواع الانواط / الاوسمة</h3>

<p>
    <a asp-action="Create">إنشاء جديد</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               اسم النوط / الوسام
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedelsName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idmedels">التعديل</a> |
                <a asp-action="Details" asp-route-id="@item.Idmedels">التفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.Idmedels">الحذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
